

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(80, 79, 76);
    padding-left: 20px;
}

.container {
  margin: 0 auto;
  width: 700px;
  background-color: rgb(132, 132, 132);
  margin-top: 120px;
  border-radius: 25px;
}


.informatihon-text {
    color: var(--text-color);
    margin-top: 110px;
    text-align: center;

    padding-top: 20px;
}


:root {
    --text-color: yellow;
    --p-color: blue;
    --p1-color: green;
    
}

.information {
  margin-bottom: 120px;
}

.ulist-information {
  
}


.informatihon-p1 {
    color: rgb(14, 28, 18);
    font-weight: 700;
    padding-left: 30px;
}

.informatihon-h2 {
    color: var(--text-color);
    padding-left: 20px;
}

.informatihon-img {
    width: 200px;
    padding-left: 200px;
    margin-top: 40px;
}

.h21 {
    color: var(--text-color);
    text-align: center;
    padding-bottom: 60px;
    padding-top: 20px;
}

.p21 {
    font-size: 18px;
    font-weight: 200;
    margin-left: 50px;
    color: bisque;
    margin-bottom: 20px;
}


.h22 {
    color: white;
    padding-left: 30px;
}

.p2 {
    color: red;
}

.headers-list {
  display: flex;
  gap: 19px;
  list-style: none;
  padding-left: 140px;

  padding-right: 32px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 20px;
}


.link-headers {
  text-decoration: none;
  background-color: aqua;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  font-weight: 900;
  color: rgb(89, 0, 255);

}

.link-headers:hover {
  transition: all 1s ease-in-out;
   background-color: rgb(0, 255, 0);
   border-radius: 10px;
}

.grafik-description {
  color: yellow;
  line-height: 15px;
  margin-left: 20px;
  padding-bottom: 40px;
  
}


#grafik-foto {
  width: 600px;
  margin-left: 20px;
  margin-bottom: 20px;
 
}

#grafik-foto:hover {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}

#advice-text {
  color: yellow;
  line-height: 20px;
  background-color: rgb(118, 96, 96);
  border-radius: 20px;
 
}


#h12 {
  color: blueviolet;
}

#a {
  text-decoration: none;
  color: blueviolet;
  font-weight: 900;
  margin-left: 20px;
  font-size: 20px;
}

#a:hover {
  background-color: rgb(254, 0, 0);
  border-radius:  10px;
  color: yellow;
}

#advice-foto {
  border-radius: 200px;
  width: 270px;
  margin-left: 200px;
}

li {
  list-style: none;
}

#info-list {
  display: flex;
}

